apiVersion: v1
kind: Pod
metadata:
  name: airflow-worker-pod-template
  labels:
    app: airflow-worker
spec:
  serviceAccountName: airflow
  restartPolicy: Never
  containers:
    - name: base
      image: "ghcr.io/sserkanguzel/project-1-1-batch-processing-airflow:2025-07-02-2156"
      imagePullPolicy: IfNotPresent
      env:
        - name: AIRFLOW_IS_K8S_EXECUTOR_POD
          value: "True"
        - name: AIRFLOW__CORE__DAGS_FOLDER
          value: "/opt/airflow/dags"
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          value: postgresql+psycopg2://airflow:airflowpassword@postgres-postgresql.airflow.svc.cluster.local:5432/airflow_db
        - name: AIRFLOW__CORE__FERNET_KEY
          value: "bXKd_nJ7Yj0E309u7oh-cmXcFC89gi1IllSBl21Ku5g="
        - name: AIRFLOW__WEBSERVER__SECRET_KEY
          value: "Td_-CejX_6foYTgUzLXfrgVWvxlAuzp4Cemjf6J57b0"
        - name: AIRFLOW__LOGGING__BASE_LOG_FOLDER
          value: "/opt/airflow/logs"
        - name: AIRFLOW__LOGGING__REMOTE_LOGGING
          value: "False"
      volumeMounts:
        - name: logs-volume
          mountPath: /opt/airflow/logs

  volumes:
    - name: logs-volume
      persistentVolumeClaim:
        claimName: airflow-logs-pvc
