namespace: airflow

airflow:
  image:
    repository: ghcr.io/sserkanguzel/project-1-1-batch-processing-airflow
    tag: '2025-07-02-2201'

  executor: KubernetesExecutor

  kubernetesExecutor:
    podTemplate:
      configMapName: airflow-pod-template
      name: pod_template.yaml

  fernetKey: "bXKd_nJ7Yj0E309u7oh-cmXcFC89gi1IllSBl21Ku5g="
  secretKey: "Td_-CejX_6foYTgUzLXfrgVWvxlAuzp4Cemjf6J57b0"

  serviceAccountName: airflow

  initDbJob:
    enabled: false

  config:
    logging:
      base_log_folder: /opt/airflow/logs
      remote_logging: "False"

  logs:
    persistence:
      enabled: true
      existingClaim: airflow-logs-pvc
      mountPath: /opt/airflow/logs

triggerer:
  enabled: true
  replicas: 1

database:
  postgres:
    user: airflow
    password: airflowpassword
    db: airflow_db
    port: 5432

service:
  webserver:
    type: NodePort
    port: 8080
